body {
	font-family: 'Lusitana', sans-serif ;
	color: #faf3bc;
	background: #000000 repeat;
}

a {
	color: #CB0077;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}


h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #6C6CCB;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}


.btn {
	padding: 10px 30px;
	margin: 70px 0 70px 0;
	color: #faf3bc;
	background: #ECB86A no-repeat right top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
	font-family: 'Lusitana', sans-serif;
}

.btn:hover {
	background-color: #8D6A00;
}


.btn-small {
	padding: 10px 25px;
	margin: 50px 0;
	color: #faf3bc;
	font-size: .75em;
	background: #DA629B no-repeat right bottom;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
	font-family: 'Lusitana', sans-serif;
}

.btn-small:hover {
	
	background-color: #DA3684;
}

.submit-btn {
	padding: 10px 25px;
	margin: 20px 0 50px 0;
	color: #faf3bc;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

ul.nav {
	margin: 0 auto;
	padding: 10px 0 0 0;
	list-style: none;
	float: right
}

ul.nav li {
	float: left;
	margin-right: 40px;
	font-size: 1.00em;
	text-decoration: underline;

}

/*ul.nav li.last {
	margin: 0;
	padding: 10px 25px;
	color: #faf3bc;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;*/
}

ul.nav li.last:hover {
		background-color: #c62718;
}

ul.nav li a {
	color: #faf3bc;
	display: block;
	text-decoration: none;
	font-family: 'Lusitana', sans-serif;
}

.copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}

#header {
	text-align: center;
	margin-top: 50px;
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
	background-color: #1c1e17
}


#intro {
	margin: 40px 0 45px 0;
	text-align: center;
}

#new-cupcakes img {
	border: 8px solid #64A8D1;
	margin: 0 0 20px 0;
}

#popular-cupcakes img {
	border: 8px solid #faf3bc;
}

#featured-gif img {
	border: 8px solid #3d9ad1;
}

#contact span{
	color: #b22316;
	font-weight: 600;
}

#goodbye img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 40px;
	margin-bottom: 100px;*/
	/*text-align: center;*/
	border: 8px solid #faf3bc;
	border-radius: 90px;

}

#bean img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid #3d9ad1;
}
#bean a {
	font-size: 30px;
	text-decoration: underline;
}


